In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data=pd.read_csv('car_evaluation.csv')

In [4]:
data.shape

(1727, 7)

In [6]:
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [7]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
data.columns=col_names
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [10]:
for col in col_names:
    print(data[col].value_counts())

low      432
med      432
high     432
vhigh    431
Name: buying, dtype: int64
low      432
med      432
high     432
vhigh    431
Name: maint, dtype: int64
5more    432
3        432
4        432
2        431
Name: doors, dtype: int64
more    576
4       576
2       575
Name: persons, dtype: int64
med      576
big      576
small    575
Name: lug_boot, dtype: int64
med     576
high    576
low     575
Name: safety, dtype: int64
unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [12]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [13]:
x=data.drop('class',axis=1)
y=data['class']

In [14]:
from sklearn.model_selection import train_test_split

In [25]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=42)

In [26]:
xtrain.shape

(1208, 6)

In [27]:
xtest.shape

(519, 6)

In [28]:
ytrain.shape

(1208,)

In [29]:
ytest.shape

(519,)

In [30]:
import category_encoders as ce

In [22]:
encoder=ce.OrdinalEncoder(col_names)

In [31]:
xtrain=encoder.fit_transform(xtrain)
xtest=encoder.transform(xtest)

In [33]:
xtrain.head()

      buying  maint  doors  persons  lug_boot  safety
1177       1      1      1        1         1       1
585        2      2      2        2         2       2
1551       3      1      2        1         3       2
727        2      1      3        2         1       1
707        2      1      3        3         1       3

In [34]:
from sklearn.ensemble import RandomForestClassifier
rfc_model=RandomForestClassifier()
rfc_model.fit(xtrain,ytrain)

RandomForestClassifier()

In [35]:
y_pred=rfc_model.predict(xtest)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
print(accuracy_score(ytest,y_pred))

0.928709055876686

In [51]:
#Increasing decision trees
rfc_model2=RandomForestClassifier(n_estimators=80)

In [52]:
rfc_model2.fit(xtrain,ytrain)

RandomForestClassifier(n_estimators=80)

In [53]:
y_pred2=rfc_model2.predict(xtest)

In [54]:
print(accuracy_score(ytest,y_pred2))

0.9344894026974951

In [55]:
#Finding important features
rcf_model3=RandomForestClassifier(n_estimators=80,random_state=0)
rcf_model3.fit(xtrain,ytrain)

RandomForestClassifier(n_estimators=80, random_state=0)

In [56]:
feature_scores=pd.Series(rcf_model3.feature_importances_,index=xtrain.columns).sort_values(ascending=False)

In [57]:
feature_scores

safety      0.275456
persons     0.230629
buying      0.178867
maint       0.142204
lug_boot    0.101610
doors       0.071233
dtype: float64

In [59]:
x2=data.drop(['class','doors'],axis=1)
y2=data['class']

In [60]:
xtrain2,xtest2,ytrain2,ytest2=train_test_split(x2,y2,test_size=0.3)

In [63]:
encoder2 = ce.OrdinalEncoder(cols=['buying', 'maint', 'persons', 'lug_boot', 'safety'])
xtrain2=encoder2.fit_transform(xtrain2)
xtest2=encoder2.transform(xtest2)

In [64]:
rcf_model3=RandomForestClassifier(n_estimators=80,random_state=0)
rcf_model3.fit(xtrain2,ytrain2)

RandomForestClassifier(n_estimators=80, random_state=0)

In [65]:
y_pred3=rcf_model3.predict(xtest2)
print(accuracy_score(ytest2,y_pred3))

0.9499036608863198

In [66]:
from sklearn.metrics import confusion_matrix
conf_mat=confusion_matrix(ytest2,y_pred3)

In [67]:
conf_mat

array([[ 98,   4,   3,   2],
       [  1,  14,   0,   4],
       [ 11,   1, 368,   0],
       [  0,   0,   0,  13]], dtype=int64)

In [68]:
from sklearn.metrics import classification_report
print(classification_report(ytest2,y_pred3))

              precision    recall  f1-score   support

         acc       0.89      0.92      0.90       107
        good       0.74      0.74      0.74        19
       unacc       0.99      0.97      0.98       380
       vgood       0.68      1.00      0.81        13

    accuracy                           0.95       519
   macro avg       0.83      0.91      0.86       519
weighted avg       0.95      0.95      0.95       519